.stock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stock-ticker {
  /* Styles for ticker */
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  /* Additional styles for the ticker */
}

.back-button {
  margin: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.stock-title {
  margin-top: 0; /* Remove margin at the top */
  text-align: center;
  position: fixed; /* Make the title fixed at the top */
  top: 0; /* Position at the very top */
  width: 100%; /* Ensure the title stretches across the width */
  background-color: #fff; /* Optional: add background color */
  padding: 10px 0; /* Optional: add some padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  z-index: 100; /* Ensure it's above other content */
}

.analysis-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}


button.calculate-prediction {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button.calculate-prediction:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.time-periods button {
  display: inline-block; /* Ensures buttons are in a line */
  margin-right: 10px; /* Adds some space between buttons */
}

/* Ensures no wrapping occurs at the flex container level */
.time-periods {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: auto; /* Allows horizontal scrolling if the container is too narrow */
}

.back-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}

.stock-container-animate {
  animation: slideUp 0.5s ease-in-out;
}

/* Define the slide-up animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.star-icon {
  cursor: pointer;
  font-size: 24px;
  color: gold; /* Example color */
}

.star-icon:hover {
  opacity: 0.7;
}
